.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.noto-sans-kr-b {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* 기본 스타일 설정 */
* {
  /* 드래그나 더블클릭 시에 텍스트가 선택되지 않도록 설정 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* 너비 등의 레이아웃에 관여하지 않는 테두리 제거 */
  outline: 0;
  /* 마진 패딩 제거 */
  margin: 0;
  padding: 0;
  /* IOS 웹킷에서 터치 시에 등장하는 하이라이트를 제거하기 위함 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  background-color: #f0f8ff;
}

.active {
  color: #4A42EA !important;
}

.wave-card {
  position: relative;
  overflow: hidden;
}

/* Canvas 스타일링 */
#waveCanvas {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* 반투명 배경 */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-icon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; /* 큰 원 크기 */
  height: 300px;
}

.loading-icon-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* 원 크기 */
  height: 100%;
  border-radius: 50%; /* 원형 모양 */
  background-color: #fff; /* 하얀색 배경 */
  z-index: 1;
}

.loading-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2; /* 원 위에 표시 */
}

.loading-icon {
  width: 80px; /* 아이콘 크기 */
  height: auto;
  margin-bottom: 1rem;
}

.loading-text {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}