<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->

<head>
    <base href="" />
    <title>
        {% block title %}Health Supplement Recommendation System{% endblock %}
    </title>
    <meta charset="utf-8" />
    <meta name="description" content="A system for recommending health supplements based on disease prediction." />
    <meta name="keywords" content="health, supplements, disease prediction, recommendation system" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- speed up external res -->
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <!-- preloading icon font is helping to speed up a little bit -->
    <link rel="preload" href="/static/assets/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Noto+Sans+KR:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/core.min.css">
    <link rel="stylesheet" href="/static/assets/css/vendor_bundle.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<!--end::Head-->
<!--begin::Body-->

<body class="header-sticky header-fixed d-flex flex-column min-vh-100 bg-gray-200 noto-sans-kr">
    <header class="fixed-top shadow-xs bg-white noto-sans-kr-b">
        <div class="container position-relative">
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-md-auto me-md-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="#" class="nav-link px-2 link-secondary">Home</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 link-dark">DashBoard</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 link-dark">Health functional food</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 link-dark">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}
    <script>
        var hostUrl = "/static/assets/";
    </script>
    <!-- Global Javascript Bundle -->
    <script src="/static/assets/js/core.min.js"></script>
    <script src="/static/assets/js/vendor_bundle.min.js"></script>

</body>
<!--end::Body-->

</html>